<!-- authentication/templates/login.html -->
<!-- authentication/templates/login.html -->
{% extends 'account/base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %} <!-- Add this line -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <form method="post" action="{% url 'login' %}" class="form">
            {% csrf_token %}
            <h2>Login</h2>
            {{ form.as_p }}
            <button type="submit">Login</button>
        </form>
        <p>Don't have an account? <a href="{% url 'signup' %}">Signup</a></p>

    </div>
</body>
</html>

{% endblock %}
