<!-- authentication/templates/signup.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %} <!-- Add this line -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Sign Up</title>
</head>
<body>
    <div class="container">
        <form method="post" action="{% url 'signup' %}" class="form">
            {% csrf_token %}
            <h2>Sign Up</h2>
            {{ form.as_p }}
            <button type="submit">Sign Up</button>
        </form>
        <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>

    </div>
</body>
</html>
